body{
     background-color: rgba(217, 217, 217, 0.2);
}

/* Para Chrome, Edge y Safari */
.navbar::-webkit-scrollbar {
  height: 6px;
}

.navbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.navbar::-webkit-scrollbar-track {
  background: transparent;
}

.navbar-container {
  display: flex;
  gap: 1rem; /* Espacio entre enlaces */
}

/* Hover para feedback visual */
.category-link:hover {
  background-color: rgba(217, 217, 217, 0.2);
  color: #f8d210;
}

/* Categoría activa */
.active-category {
  background-color: rgba(217, 217, 217, 0.2);
  color: #000;
  font-weight: bold;
}

.category-link {
  color: #ffffff;
  background-color: transparent;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex-shrink: 0; /* evita que se encojan los botones */
}

#card-product{
    background-color: rgba(217, 217, 217, 0.2);
    color: #ffffff;
}

.add-cart button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  /* padding: 0 0.5rem; */
  cursor: pointer;
  background-color: rgba(217, 217, 217, 0.2);
}

.add-cart button:hover{
  background-color: rgba(217, 217, 217, 0.4);
}

.add-cart button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: rgba(217, 217, 217, 0.0);
}

.cart-icon {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.card-disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(0.5);
}

.card-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 8px;
}

.agotado-text {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 8px #000;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  #card-product img {
    max-height: 120px; /* en desktop lo restringes */
  }
}